<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}X-10 Controller{% endblock %}</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
		<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
		{%  block extra-head %}
		{%  endblock %}
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	</head>
<body>
	{%  block body %}
	{%  endblock %}
</body>
</html>
